.peg {
  position:absolute;
  z-index:2;
  width:62px;
  height:62px;
  border:3px;
  border-style:solid;
  border-color:black;
  border-radius:34px;
  background:#d44400;
  box-shadow: 8px 8px 10px black;
}

.peg_selected {
  position:absolute;
  z-index:2;
  width:62px;
  height:62px;
  border:6px;
  border-style:solid;
  border-color:black;
  border-radius:34px;
  background:#d44400;
  box-shadow: 8px 8px 10px black;
}

.peg_target {
  position:absolute;
  z-index:2;
  width:62px;
  height:62px;
  border:3px;
  border-style:solid;
  border-color:black;
  border-radius:34px;
  background:#d44400;
  box-shadow: 8px 8px 10px black;
  opacity:0.3;
}

.hint {
  position:absolute;
  z-index:5;
  pointer-events:none;
}

.hidden {
  position:absolute;
  z-index:2;
  width:22px;
  height:22px;
  margin:20px;
  border:3px;
  border-style:solid;
  border-color:black;
  border-radius:14px;
  background:#333;
  box-shadow: 3px 3px 5px black inset;
  opacity:0.0;
}

.hole {
  position:absolute;
  z-index:1;
  width:22px;
  height:22px;
  margin:20px;
  border:3px;
  border-style:solid;
  border-color:black;
  border-radius:14px;
  background:#333;
  box-shadow: 3px 3px 5px black inset;
}

.board {
  position:absolute;
  width:520px;
  height:520px;
  border:10px;
  border-style:solid;
  border-color:#666;
  border-radius:270px;
  background:#aaa;
  box-shadow: 16px 16px 14px black;
  overflow-y: hidden;
  overflow-x: hidden;
}

.ui-btn-icon-notext:after {
    background-color: rgba(0, 0, 0, 0);
}

.ui-btn-icon-notext.ui-corner-all {
    border-radius: 20em;
}

.ui-btn {
    border-width: 0px;
    border-style: none;
}

.mycontent {
  padding: 0;
}

figure.diagram {
  width: 58%;
  max-width: 512px;
  border: 1px solid #cccccc;
  margin: 0 2px 0 2px;
  padding: 2px 12px 2px 2px;
  border-radius: 11px;
}

figure.diagram img {
  width: 100%;
  border: 1px solid #cccccc;
  padding: 4px;
  border-radius: 7px 7px 0 0;
  margin: 0px;
}

figure.diagram embed {
  width: 100%;
  border: 1px solid #cccccc;
  padding: 4px;
  border-radius: 7px 7px 0 0;
  margin: 0px;
}

figure.diagram figcaption {
  background-color: #666; color: #fff;
  font-style: italic;
  width: 100%;
  padding: 5px;
  border-radius: 0 0 8px 8px;
  margin: 0px;
}

figure.author {
  width: 30%;
  max-width: 320px;
  border: 1px solid #cccccc;
  margin: 0 2px 0 2px;
  padding: 2px 12px 2px 2px;
  border-radius: 11px;
}

figure.author img {
  width: 100%;
  border: 1px solid #cccccc;
  padding: 4px;
  border-radius: 7px 7px 0 0;
  margin: 0px;
}

figure.author embed {
  width: 100%;
  border: 1px solid #cccccc;
  padding: 4px;
  border-radius: 7px 7px 0 0;
  margin: 0px;
}

figure.author figcaption {
  background-color: #666; color: #fff;
  font-style: italic;
  width: 100%;
  padding: 5px;
  border-radius: 0 0 8px 8px;
  margin: 0px;
}
